<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniCourt Workshop1 - Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

  </head>
  <body>

    <div class="container-fluid">
      <div class="container mt-50"> 
          <div class="row">  
            <h1 class="mt-50 mb-50 t-center">Wiki Search</h1>
            <div class="d-flex1"> 
                <form action="/search" method="GET" class="d-flex m-h50">
                <input type="text" class="form-control" placeholder="Person's Name" name="person">
                <input class="input-group-text search-btn p0-p40" id="inputGroup-sizing-lg" type="submit" value="Search">
                </form>   
            </div>
          </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>